<app-header></app-header>
<main class="vista-me-container">
  <div class="title-banner">
    <h1>Vista-me!</h1>
  </div>
  <div class="background-wrapper">
    <div class="menu-box">
      <button class="menu-button" (click)="navegarPara('/montador-look')">
        <i class="fas fa-search"></i>
        <span>Montar Look</span>
      </button>
      <button class="menu-button" (click)="navegarPara('/sugerir-look')">
        <i class="fas fa-sync-alt"></i>
        <span>Sugestão de Look</span>
      </button>
      <button class="menu-button" (click)="navegarPara('/armario')">
        <i class="fas fa-briefcase"></i>
        <span>Meu armário</span>
      </button>
    </div>
  </div>
</main>
