<app-header></app-header>
<div class="sobre-nos-page-wrapper">
  <div class="title-bar-wrapper">
    <h1 class="page-main-title">SOBRE NOSSOS SERVIÇOS</h1>
  </div>
  <div class="sobre-nos-content">
    <div class="image-main-container">
      <div class="image-placeholder image-brecho">
        <span>Foto do Brechó</span>
      </div>
    </div>

    <div class="text-block">
      <p>Informações sobre o brechó</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>

    <div class="equipe-section">
      <div class="image-placeholder image-equipe">
        <span>Imagem equipe do brechó</span>
      </div>
      <div class="text-block equipe-text">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
