<app-header></app-header>
<main class="armario-page-container">
  <div class="armario-header">
    <h1 class="armario-title">Meu Armário</h1>
    <button class="add-new-piece-btn" (click)="adicionarNovaPeca()">Adicionar uma nova peça</button>
  </div>

  <div *ngIf="isLoading" class="loading-indicator">Carregando seu armário...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div class="product-grid-wrapper" *ngIf="produtos$ | async as response; else noProducts">
    <div class="product-grid" *ngIf="response.data.length > 0; else noProductsMessage">
      <div class="product-item" *ngFor="let produto of response.data" (click)="viewProduct(produto)">
        <div class="product-image-container">
          <img [src]="getImagemUrl(produto.images && produto.images.length > 0 ? produto.images[0].url : null)"
               [alt]="produto.nome_produto">
          <button type="button" class="delete-btn" (click)="deleteProduto(produto.id, $event)" aria-label="Remover peça">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </div>
        <div class="product-info">
          <div class="product-name">{{ produto.nome_produto }}</div>
        </div>
      </div>
    </div>
    <ng-template #noProductsMessage>
      <div class="no-results" *ngIf="!isLoading && !error">
        Seu armário está vazio. Que tal <a (click)="adicionarNovaPeca()">adicionar sua primeira peça</a>?
      </div>
    </ng-template>

    <div class="pagination-controls" *ngIf="response.last_page > 1">
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
        Anterior
      </button>
      <span class="pagination-info">Página {{ currentPage }} de {{ lastPage }}</span>
      <button class="pagination-button" [disabled]="currentPage === lastPage" (click)="changePage(currentPage + 1)">
        Próxima
      </button>
    </div>
  </div>

  <ng-template #noProducts>
    <div *ngIf="!isLoading && !error" class="no-results">
      Seu armário está vazio. Que tal <a (click)="adicionarNovaPeca()">adicionar sua primeira peça</a>?
    </div>
  </ng-template>
</main>
<app-footer></app-footer>
