@use 'sass:color';
@use '../../../styles/product-detail-styles';
@use '../../../styles';

.actions-container {
  display: flex;
  gap: styles.$brecho-spacing-medium;
  margin-top: styles.$brecho-spacing-medium;
  flex-shrink: 0;
}

.btn-action {
  width: 100%;
}

.btn-action.favorited-btn {
  background-color: color.scale(styles.$brecho-heart-favorited-color, $lightness: -5%);
  &:hover {
    background-color: color.scale(styles.$brecho-heart-favorited-color, $lightness: -15%);
  }
}

.btn-action.btn-secondary {
  background-color: #a0a0a0;

  &:hover {
    background-color: #888888;
  }
}
